@import "tailwindcss";

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
.floating-input:focus ~ .floating-label,
.floating-input:not(:placeholder-shown) ~ .floating-label {
  transform: translateY(-1.5rem) scale(0.75);
  color: #2563eb;
}

@keyframes slide-down {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar,
.overflow-auto::-webkit-scrollbar {
  display: none;
}

.overflow-y-auto,
.overflow-x-auto,
.overflow-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

